<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center">CarroTec</a>
          <ul id="nav-mobile" class="rigth hide-on-med-and-down">
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
    </nav>

    <ul id="nav-mobile" class="sidenav sidenav-fixed">
        <a id="logo-container" href="/" class="brand-logo">
         <img src="/images/imagenCarro.png" width="300" height="100">
        <li>

        </li>
        <li class="logo">
         <a href="">Ver Compras</a>
        </li>
        <li class="bold">
          <a href="">Buscar Vehiculo</a>
        </li>
        <li class="bold">
          <a href="">Ver Sucursales y Empleados </a>
        </li>
      </ul>



  <script>
      document.addEventListener('DOMContentLoaded', function() {
         var elems = document.querySelectorAll('.sidenav');
         var instances = M.Sidenav.init(elems, {});
         
       });
     </script>
</body>




</html>
