<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
<!-- Compiled and minified CSS -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css">
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/css/main.css">

</head>


<header>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center">CarroTec</a>
          <ul id="nav-mobile" class="rigth hide-on-med-and-down">
              <li><a href="/login">Cerrar Sesion</a></li>
          </ul>
          <a href="" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i>
          </a>
        </div>
    </nav>

    <ul id="nav-mobile" class="sidenav sidenav-fixed">
        <a id="logo-container" href="/" class="brand-logo">
         <img src="/images/imagenCarro.png" width="300" height="100">
        <li>
            
                <h5 style="color: black">Dashboard Administrador</h5>
            
        </li>
        <li class="bold">
            <a href="/agregarSucursal">Agregar Sucursales </a>
        </li>
        <li class="bold">
            <a href="/mostrarVistaSucursal">Ver Sucursales </a>
        </li>
        <li class="bold">
            <a href="/modificarSucursal">Modificar Sucursales </a>
        </li>

        <li class="bold">
            <a href="/crearFabrica">Crear Fabrica </a>
        </li>
        <li class="bold">
            <a href="/modificarFabrica">Modificar Fabrica</a>
        </li>
        <li class="bold">
            <a href="/verFabrica">Ver Fabrica</a>
        </li>


        <li class="bold">
          <a href="/crearVehiculo">Agregar Vehiculo </a>
        </li>
        <li class="bold">
          <a href="/modificarVehiculo" >Modificar Vehiculo </a>
        </li>
        <li class="bold">
          <a href="/verVehiculo" >Ver Vehiculo </a>
        </li>     
        <li class="logo">
         <a href="/crearDescuento">CrarDescuento</a>
        </li>
        <li class="bold">
          <a href="/crearEmpleado">Crear Empleado</a>
        </li>
        <li class="bold">
          <a href="/Reporte">Repor Venta y Rep Tipo Pago </a>
        </li>
        <li class="bold">
          <a href="/VerEmpleados">SeleccionarEmpleado</a>
        </li>
        <li class="bold">
          <a href="/VerVehiculos">Seleccionar Vehiculos </a>
        </li>
        <li class="bold">
          <a href="/verVehiculosVendidos">Vehiculos Vendidos</a>
        </li>
        <li class="bold">
          <a href="/vehiculaFabrica">Vehiculos Por Fabrica </a>
        </li>
  
  
      </ul>
</header>

<body>

    <% if (locals.listo) { %>      
        <h5>
          <%= listo %>
        </h5>
    <% }  %>
    
    <% if(locals.vistaSucursal) {%>
      <div>
          <form action="/vistaSucursales" method="POST">
              <div class="row">
                  <div class="input-field col s6">
                        <input id="name" type="text"" name="nombre">      
                        <label class="active" for="name">
                            Nombre
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="descripcion" type="text"" name="descripcion">      
                        <label class="active" for="descripcion">
                            Descripcion
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="provincia" type="text"" name="provincia">      
                        <label for="provincia">
                            Provincia
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text"" name="pais">      
                        <label class="active" for="pais" >
                          Pais
                        </label>
                  </div>
              </div>
              <button type="submit" class="btn">
                Buscar Sucursal
              </button>
          </form>
      </div>

    <% }  %>
  
    <% if(locals.crearSucursal) {%>
      <div>
          <form action="/agregarSucursal" method="POST">
              <div class="row">
                  <div class="input-field col s6">
                        <input id="name" type="text"" name="nombre">      
                        <label class="active" for="name">
                            Nombre
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="descripcion" type="text"" name="descripcion">      
                        <label class="active" for="descripcion">
                            Descripcion
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="provincia" type="text"" name="idProvincia">      
                        <label for="provincia">
                            Provincia
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="locacion">      
                        <label class="active" for="pais">
                          Locacion
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="senas" type="text"" name="senas">      
                        <label for="senas">
                            Descripcion Ubicacion
                        </label>
                  </div>
              </div>
              <button type="submit" class="btn">
                Agregar Sucursal
              </button>
          </form>
      </div>
    <% }  %>
  
    <% if(locals.vistaModificarSucursal) {%>
      <div>
          <form action="/modificarSucursal" method="POST">
              <div class="row">
                <div class="input-field col s6">
                      <input id="name" type="text"" name="nombre">      
                      <label class="active" for="name">
                          Nombre Sucursal
                      </label> 
                </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="name" type="text"" name="nuevoNombre">      
                        <label class="active" for="name">
                            Nuevo Nombre
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="descripcion" type="text"" name="descripcion">      
                        <label class="active" for="descripcion">
                            Descripcion
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="provincia" type="text"" name="idProvincia">      
                        <label for="provincia">
                            Provincia
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="locacion">      
                        <label class="active" for="pais">
                          Locacion
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="senas" type="text"" name="senas">      
                        <label for="senas">
                            Descripcion Ubicacion
                        </label>
                  </div>
              </div>
              <button type="submit" class="btn">
                Agregar Sucursal
              </button>
          </form>
      </div>
    <% }  %>
    
    <% if(locals.vistaCrearFabrica) {%>
      <div>
          <form action="/crearFabrica" method="POST">
          
              <div class="row">
                  <div class="input-field col s6">
                        <input id="descripcion" type="text"" name="descripcion">      
                        <label class="active" for="descripcion">
                            Descripcion
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="provincia" type="text"" name="provincia">      
                        <label for="provincia">
                            Provincia
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="locacion">      
                        <label class="active" for="pais">
                          Locacion
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="senas" type="text"" name="senas">      
                        <label for="senas">
                            Descripcion Ubicacion
                        </label>
                  </div>
              </div>
              <button type="submit" class="btn">
                Agregar Fabrica
              </button>
          </form>
      </div>
    <% }  %>
    <% if(locals.vistaModificarFabrica) {%>
      <div>
          <form action="/crearFabrica" method="POST">
          
              <div class="row">
                  <div class="input-field col s6">
                        <input id="descripcion" type="text"" name="descripcion">      
                        <label class="active" for="descripcion">
                            Descripcion
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="provincia" type="text"" name="provincia">      
                        <label for="provincia">
                            Provincia
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="locacion">      
                        <label class="active" for="pais">
                          Locacion
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="senas" type="text"" name="senas">      
                        <label for="senas">
                            Descripcion Ubicacion
                        </label>
                  </div>
              </div>
              <button type="submit" class="btn">
                Agregar Fabrica
              </button>
          </form>
      </div>
    <% }  %>
    
    <% if(locals.vistaCrearVehiculo) {%>
      <div class="col s12 container">
        <form action="/crearVehiculo" method="POST">
              <div class="row">
                  <div class="input-field col s6">
                        <input id="descripcion" type="text"" name="tipo">      
                        <label class="active" for="descripcion">
                            Tipo Vehiculo
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="provincia" type="text"" name="combustible">      
                        <label for="provincia">
                           Combustible
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="marca">      
                        <label class="active" for="pais">
                          Marca
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="modelo">      
                        <label class="active" for="pais">
                          Modelo
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="precio">      
                        <label class="active" for="pais">
                          Precio
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="senas" type="text"" name="usado">      
                        <label for="senas">
                            Usado o No Usado
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="senas" type="text"" name="puertas">      
                        <label for="senas">
                            Puertas
                        </label>
                  </div>
              </div>

              <button type="submit" class="btn">
                Agregar Vehiculo
              </button>
        </form>
      </div>
    <% }  %>

    <% if(locals.vistaModificarVehiculo) {%>
      <div class="col s12 container">
        <form action="/crearVehiculo" method="POST">
          <div class="row">
              <div class="input-field col s6">
                    <input id="descripcion" type="text"" name="idVehiculo">      
                    <label class="active" for="descripcion">
                        IdVehiculo
                    </label> 
              </div>
          </div>    
          <div class="row">
                  <div class="input-field col s6">
                        <input id="descripcion" type="text"" name="tipo">      
                        <label class="active" for="descripcion">
                            Tipo Vehiculo
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="provincia" type="text"" name="combustible">      
                        <label for="provincia">
                           Combustible
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="marca">      
                        <label class="active" for="pais">
                          Marca
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="modelo">      
                        <label class="active" for="pais">
                          Modelo
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="precio">      
                        <label class="active" for="pais">
                          Precio
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="senas" type="text"" name="usado">      
                        <label for="senas">
                            Usado o No Usado
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="senas" type="text"" name="puertas">      
                        <label for="senas">
                            Puertas
                        </label>
                  </div>
              </div>

              <button type="submit" class="btn">
                Agregar Vehiculo
              </button>
        </form>
      </div>
    <% }  %>

    <% if(locals.vistaVerVehiculo) {%>
      <div class="col s12 container">
        <form action="/verVehiculo" method="POST">
          <div class="row">
                  <div class="input-field col s6">
                        <input id="descripcion" type="text"" name="tipo">      
                        <label class="active" for="descripcion">
                            Tipo Vehiculo
                        </label> 
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="provincia" type="text"" name="combustible">      
                        <label for="provincia">
                           Combustible
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="marca">      
                        <label class="active" for="pais">
                          Marca
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="modelo">      
                        <label class="active" for="pais">
                          Modelo
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="precioLow">      
                        <label class="active" for="pais">
                          Precio
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="pais" type="text" name="precioHigh">      
                        <label class="active" for="pais">
                          Precio
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="senas" type="text"" name="usado">      
                        <label for="senas">
                            Usado o No Usado
                        </label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                        <input id="senas" type="text"" name="puertas">      
                        <label for="senas">
                            Puertas
                        </label>
                  </div>
              </div>

              <button type="submit" class="btn">
                Ver Vehiculo
              </button>
        </form>
      </div>
    <% }  %>
    



    <% if (locals.results) { %>      
      <div class="row">
          <div class="container">
              <table id="table1" class="display">
                  <%- results %>
              </table>            
          </div>
          <script>
              $(document).ready( function () {          
                  var table = $('#table1').DataTable( 
                    {
                      dom: 'Bfrtip',
                      select: true,
                      buttons: [
                          {
                              text: 'Get Selected',
                              action: function () {
                                var ids = $.map(table.rows('.selected').data(), function (item) {
                                    return item[0]
                                });
                              console.log(ids)
                              alert(table.rows('.selected').data().length + ' row(s) selected');
                                
                              }
                          }
                      ]
                       } );
              } 
              );
              </script>      
      </div>
        <% } %>

  <script>
      document.addEventListener('DOMContentLoaded', function() {
      
         $('.sidenav').sidenav();
       });
       
     </script>
</body>




</html>
